$mobile: 320px;
$landscape: 480px;
$phablet: 640px;
$tablet: 768px;
$desktop: 1024px;
$icomoon-font-path: "fonts" !default;
$icon-home: "\e900";
$icon-newspaper: "\e904";
$icon-pencil: "\e905";
$icon-images: "\e90e";
$icon-file-text: "\e922";
$icon-files-empty: "\e925";
$icon-folder-open: "\e930";
$icon-price-tag: "\e935";
$icon-users: "\e972";
$icon-search: "\e986";
$icon-circle-up: "\ea41";
$icon-circle-down: "\ea43";
