.xo{
  [xo-type="data"]{
    > div {
      margin: 1em 0;
    }
    [xo-type="gutter-toggle"]{
      position: inherit!important;
      padding:inherit!important;
    }
    [xo-type="modal-toggle"]{
      position: inherit!important;
      padding:inherit!important;
      color:inherit!important;
    }
  }
  [xo-type="data-toggle"] {
    color:#fff;
    position:absolute;
    top:0;
    right:0;
    padding:5px;
    cursor:pointer;
  }
  a[xo-type="data-toggle"] {
    color:inherit!important;
    position:relative;
    padding:5px;
    cursor:pointer;
  }
}