.xo{
  [xo-type="tabs"] {
    display: block;
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: content-box;
    &[xo-type-param="text"]{
      [xo-type="header-node"] {
        display: inline-block;
        border: 1px solid #999;
        border-bottom: 1px solid #999;
        padding: 5px 10px;
        box-sizing: content-box;
        margin-top: 5px;
        position: relative;
        cursor: pointer;
        margin-bottom: -1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &[xo-type-param="active"]{
          border-bottom: 1px solid #fff;
          margin-bottom: -1px;
        }
        &:first-child {
          margin-left:5px;
        }
      }
    }
    &[xo-type-param="icon"]{
      [xo-type="header-node"] {
        display: inline-block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 5px 10px;
        box-sizing: content-box;
        margin-top: 5px;
        position: relative;
        cursor: pointer;
        margin-bottom: -1px;
        &[xo-type-param="active"]{
          &:after {
            content: "\e1c8";
            display: inline-block;
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: absolute;
            top: 14px;
            right: 0;
            margin: 0 auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
        &:first-child {
          margin-left:5px;
        }
      }
    }
    [xo-type="header"] {
      position: relative;
      display: block;
      z-index: 2;
      background: #e4e4e4;
    }

    [xo-type="block"] {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px 5px;
      border-top: 1px solid #999;
      z-index: 1;
      height: auto;
      min-height: 150px;
    }

    [xo-type="node"] {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }
}