@keyframes fadein {
  0%   {opacity:0;}
  100% {opacity:1;}
}
.xo{
  [xo-span="sticky"]{
    height:auto;
    &.sticky-fixed {
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      animation-name: fadein;
      animation-duration: 1s;
      z-index:99999;
      box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.5);
    }
  }
}