.xo{
  [xo-type="accordion"] {
    display: block;
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: content-box;
    &[xo-type-param="text"]{
      [xo-type="accordion-header-node"] {
        display: block;
        border-bottom: 1px solid #999;
        padding: 10px;
        box-sizing: content-box;
        position: relative;
        cursor: pointer;
        &:after {
          content: "\e313";
          font-family: 'icomoon' !important;
          speak: none;
          position:absolute;
          right:10px;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          background: rgba(102, 102, 102, 0.25);
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &[xo-type-param="active"]{
          //border-bottom: 1px solid #fff;
          background: #e4e4e4;
          &:after {
            content: "\e316";
            background: rgba(102, 102, 102, 0.15);
          }
        }
        &:first-child {
          //margin-left:5px;
        }
      }
    }
    &[xo-type-param="icon"]{
      [xo-type="accordion-header-node"] {
        display: inline-block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 5px 10px;
        box-sizing: content-box;
        margin-top: 5px;
        position: relative;
        cursor: pointer;
        margin-bottom: -1px;
        &[xo-type-param="active"]{
          &:after {
            content: "\e316";
            font-family: 'icomoon' !important;
            speak: none;
            position:absolute;
            right:10px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
        &:first-child {
          margin-left:5px;
        }
      }
    }
  }

  [xo-type="accordion-header"] {
    position: relative;
    display: block;
    z-index: 2;
    background: #e4e4e4;
  }

  [xo-type="accordion-block"] {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 5px;
    border-top: 1px solid #999;
    z-index: 1;
    height: auto;
    min-height: 150px;
  }

  [xo-type="accordion-node"] {
    position: relative;
    border-bottom: 1px solid #999;
    padding:10px;
    height: auto;
  }
}