.xo{
  [xo-span="full"]{
    width:100%;
  }
  [xo-state="open"]:not([xo-type="dropdown"]):not([xo-type="jsondropdown"]):not(.nav-dropdown) {
    display:block;
  }
  [xo-state="closed"]:not([xo-type="dropdown"]):not([xo-type="jsondropdown"]):not(.nav-dropdown){
    display:none;
  }
}