.xo {
  [xo-type="dropdown"],[xo-type="jsondropdown"]{
    display: inline-block;
    vertical-align: top;
    &[xo-state="open"] {
      [xo-type="dropdown-button"]:after {
        content: "\e316";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &[xo-state="closed"] {
      [xo-type="dropdown-button"]:after {
        content: "\e313";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    [xo-type="gutter-toggle"],[xo-type="modal-toggle"] {
      color:inherit;
      position:relative!important;
      cursor:pointer;
    }
    &[xo-state="closed"] ul{
      display:none;
    }
    ul {
      position:absolute;
      z-index: 9999;
      list-style: none;
      -webkit-padding-start: 0;
      padding: 10px 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      background: #ececec;
     //display: none;
      li {
        padding: 5px 10px!important;
        &:hover {
          background: #ccc;
          cursor: pointer;
        }
      }
    }
  }
}